{% extends 'base-and-nav.html' %}

{% block title %}Forecast Weather Data{% endblock %}
{% block head %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
{% endblock %}

{% block content %}

{% for message in messages %}
<div class="alert alert-{{ message.level }}">
  {{ message.text }}
</div>
{% endfor %}

<h1>Forecast Weather Data</h1>
<ul>
  <li><a href="#upload-forecast">Upload Forecast Data</a></li>
  <li><a href="#chart">Chart</a></li>
  <li><a href="#table">Table</a></li>
</ul>

<div class="card shadow mb-4" id="upload-forecast">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Upload Forecast Data</h6>
  </div>
  <div class="card-body">
    <p>
      <a href="/instructions#weather-forecast" class="btn btn-secondary btn-sm">Read data upload instructions</a>
      <a href="https://gist.github.com/kmcelwee/e56308a8096356fcdc699ca168904aa4" class="btn btn-secondary btn-sm">View
        an example dataset</a>
    </p>

    <div class="input-group mb-3">
      <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>
    </div>
  </div>
</div>

{% if chart %}
<div class="card shadow mb-4" id="chart">
  <!-- Card Header - Accordion -->
  <a href="#collapse-chart" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true"
    aria-controls="collapse-chart">
    <h6 class="m-0 font-weight-bold text-primary">Chart</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" id="collapse-chart">
    <div class="card-body">
      <div id="forecast-chart-container" style="height: 400px; min-width: 310px"></div>
      <script type="text/javascript">
        create_timeseries_chart(id = 'forecast-chart-container', data = {{ chart | tojson }}, title = 'Forecasted Temperature Data', series_name = 'Temperature (°C)')
      </script>
    </div>
  </div>
</div>
{% else %}
{# Show message when no data exists #}

<div class="card shadow mb-4" id="upload">
  <div class="card-body text-center ">
    After data is uploaded, all data will display here.
  </div>
</div>

{% endif %}

{% if table %}
<div class="card shadow mb-4" id="table">
  <!-- Card Header - Accordion -->
  <a href="#collapse-table" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true"
    aria-controls="collapse-table">
    <h6 class="m-0 font-weight-bold text-primary">Table</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" id="collapse-table">
    <div class="card-body">
      <h3>Forecast Data</h3>
      <!-- TODO: table.html assumes it's a big table. Allow variable to be passed?  -->
      <div class="table-responsive" id="large-table">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              {% for key, value in table[0].items() %}
              <th>{{ key }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in table %}
            <tr>
              {% for key, value in row.items() %}
              <td>{{value}}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}


{% endblock %}