{% extends 'base-and-nav.html' %}

{% block title %}Forecast: {{ forecast_model.slug }} {% endblock %}
{% block head %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/load-line-chart.js') }}"></script>
{% endblock %}

{% block content %}

{% for message in messages %}
<div class="alert alert-{{ message.level }}">
  {{ message.text }}
</div>
{% endfor %}

{% include 'partials/forecast-model.html' %}

{% endblock %}