{% extends 'base-and-nav.html' %}

{% block title %}Forecast{% endblock %}
{% block head %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/load-line-chart.js') }}"></script>
{% endblock %}

{% block content %}
<h1>Forecast</h1>

{% for message in messages %}
<div class="alert alert-{{ message.level }}">
  {{ message.text }}
</div>
{% endfor %}

{% for model in running_models %}
<div class="alert alert-primary">
  <i class="fa fa-circle text-warning Blink"></i> Currently training a model from <b class="text-primary">{{
    model.start_date }}</b> to <b class="text-primary">{{ model.end_date }}</b>
</div>
{% endfor %}

{% if not running_models %}
<form action="" method="post" id="runModel"></form>
<div class="alert alert-primary">
  <a onclick="document.forms['runModel'].submit(); return false;" class="btn btn-primary btn-icon-split">
    <span class="icon text-white-600">
      <i class="fas fa-arrow-right"></i>
    </span>
    <span class="text">Generate new model</span>
  </a>
</div>
{% endif %}

{% if forecast %}
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Latest Forecast</h6>
  </div>
  <div class="card-body">
    <p>
      Displaying a forecast of <b class="text-primary">{{ forecast.start_date.strftime('%b %d, %Y %H:%M') }}</b> to <b
        class="text-primary">{{
        forecast.end_date.strftime('%b %d, %Y %H:%M') }}</b>.
    </p>
    <div id="chart-container" style="height: 400px; min-width: 310px"></div>
    <script type="text/javascript">
      create_timeseries_chart(id = 'chart-container', data = {{ chart | tojson }}, title = 'Load Forecast', series_name = 'Load')
    </script>
    <p>
      <a href="#" class="btn btn-secondary btn-sm">Read about how this models works</a>
      <a href="#" class="btn btn-secondary btn-sm">Download the model</a>
    </p>
  </div>
</div>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Accuracy</h6>
  </div>
  <div class="card-body">
    <p>
      <a href="#" class="btn btn-secondary btn-sm">Read about how accuracy is measured</a>
    </p>
    <div><b>Train</b>: {{ forecast.accuracy.train }} MAPE</div>
    <div><b>Test</b>: {{ forecast.accuracy.test }} MAPE</div>
  </div>
</div>
{% endif %}

{% endblock %}