{% extends 'base-and-nav.html' %}

{% block title %}Latest Forecast{% endblock %}
{% block head %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>

{% endblock %}

{% block content %}
<h1>Latest Forecast</h1>

{% for message in messages %}
<div class="alert alert-{{ message.level }}">
  {{ message.text }}
</div>
{% endfor %}

{% for model in running_models %}
<div class="alert alert-primary">
  <i class="fa fa-circle text-warning Blink"></i> Currently training a model from <b class="text-primary">{{
    model.start_date.strftime('%b %d, %Y %H:%M') }}</b> to <b class="text-primary">{{ model.end_date.strftime('%b %d, %Y
    %H:%M') }}</b>
</div>
{% endfor %}

{% if not is_prepared %}
<div class="alert alert-primary">
  Insufficient data has been provided to launch a new model. Please ensure that the proper load and temperature data has
  been uploaded.
</div>
{% endif %}

{% if is_prepared and forecast and forecast.start_date != start_date and not running_models %}
<form action="" method="post" id="runModel"></form>
<div class="alert alert-primary">
  <a onclick="document.forms['runModel'].submit(); return false;" class="btn btn-primary btn-icon-split">
    <span class="icon text-white-600">
      <i class="fas fa-arrow-right"></i>
    </span>
    <span class="text">Generate new model</span>
  </a>
  <span>
    Generate a new model from <b class="text-primary">{{
      start_date.strftime('%b %d, %Y %H:%M') }}</b> to <b class="text-primary">
      {{ end_date.strftime('%b %d, %Y %H:%M') }}</b>
  </span>
</div>
{% endif %}

{% if forecast_model %}
{% include 'partials/forecast-model.html' %}
{% endif %}

{% endblock %}