{% extends 'base-and-nav.html' %}

{% block title %}Forecast: {{ forecast_model.slug }} {% endblock %}
{% block head %}{% endblock %}

{% block content %}

{% if forecast_chart %}
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Forecast (MODEL: {{ forecast_model.slug }})</h6>
  </div>
  <div class="card-body">
    <p>
      Displaying a forecast from <b class="text-primary">{{ forecast_model.start_date.strftime('%b %d, %Y %H:%M') }}</b>
      to <b class="text-primary">{{ forecast_model.end_date.strftime('%b %d, %Y %H:%M') }}</b>.
    </p>
    {% if peak_info %}
    <p>
      The highest on-peak for this month is <b class="text-primary">{{ peak_info.on_peak.max_load }}KW</b> at <b
        class="text-primary">{{ peak_info.on_peak.timestamp.strftime('%b %d, %Y %H:%M') }}</b>.
    </p>
    <p>
      The highest off-peak for this month is <b class="text-primary">{{ peak_info.off_peak.max_load }}KW</b> at <b
        class="text-primary">{{ peak_info.off_peak.timestamp.strftime('%b %d, %Y %H:%M') }}</b>.
    </p>
    {% endif %}
    <div id="forecast-chart-container" style="height: 400px; min-width: 310px"></div>
    <script type="text/javascript">
      create_timeseries_chart(id = 'forecast-chart-container', data = {{ forecast_chart | tojson }}, title = 'Load Forecast')
    </script>
  </div>
</div>
{% endif %}

{% if forecast_model.accuracy %}
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Accuracy</h6>
  </div>
  <div class="card-body">
    <p>
      <a href="/instructions#how-is-accuracy-measured" class="btn btn-secondary btn-sm">Read about how accuracy is
        measured</a>
    </p>
    <div><b>Train</b>: {{ "%.2f"|format(forecast_model.accuracy.train) }} MAPE</div>
    <div><b>Test</b>: {{ "%.2f"|format(forecast_model.accuracy.test) }} MAPE</div>
  </div>
</div>
{% endif %}

{% if training_chart %}
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Performance on historical data</h6>
  </div>
  <div class="card-body">
    <div id="historical-chart-container" style="height: 400px; min-width: 310px"></div>
    <script type="text/javascript">
      create_timeseries_chart(id = 'historical-chart-container', data = {{ training_chart | tojson }}, title = '')
    </script>
    <p>
      {# TODO: Attach links here #}
      <a target="_blank" href="https://www.kmcelwee.com/load-forecasting" class="btn btn-secondary btn-sm">Read about
        how this models works</a>
      <a href="{{ url_for('download-model-files', slug=forecast_model.slug, filename=forecast_model.model_filename )}}"
        class="btn btn-secondary btn-sm">Download the model</a>
      <a href="{{ url_for('download-model-files', slug=forecast_model.slug, filename=forecast_model.df_filename )}}"
        class="btn btn-secondary btn-sm">Download the training and forecast data</a>
    </p>
  </div>
</div>
{% endif %}

{% endblock %}