{% extends 'base-and-nav.html' %}

{% block title %}Forecast{% endblock %}
{% block head %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/load-line-chart.js') }}"></script>
{% endblock %}

{% block content %}
<h1>Forecast</h1>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">The Latest Forecast</h6>
  </div>
  <div class="card-body">
    <div class="alert alert-primary">
      <p>Your input data has changed since last running this model. Would you like to generate a new forecast? You will
        be shown a prediction from <b class="text-primary">January 1, 2019 08:00</b> to <b class="text-primary">January
          2, 2019 07:00</b></p>
      <a href="#" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-600">
          <i class="fas fa-arrow-right"></i>
        </span>
        <span class="text">Generate new forecast</span>
        <script type="text/javascript">create_timeseries_chart()</script>
      </a>
    </div>
    <p>
      Displaying a forecast of <b class="text-primary">January 1, 2019 00:00</b> to <b class="text-primary">January 1,
        2019 23:00</b>.
    </p>
    <div id="chart-container" style="height: 400px; min-width: 310px"></div>
    <script type="text/javascript">
      create_timeseries_chart(id = 'chart-container', data = {{ chart | tojson }}, title = 'Load Forecast', series_name = 'Load')
    </script>
    <p>
      <a href="#" class="btn btn-secondary btn-sm">Read about how this models works</a>
      <a href="#" class="btn btn-secondary btn-sm">Download the model</a>
    </p>
  </div>
</div>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Accuracy</h6>
  </div>
  <div class="card-body">
    <p>
      <a href="/instructions#load-data" class="btn btn-secondary btn-sm">Read about how accuracy is measured</a>
    </p>
    <div><b>Train</b>: 5.6 MAPE</div>
    <div><b>Test</b>: 8.6 MAPE</div>

  </div>
</div>
{% endblock %}