{% extends 'base-and-nav.html' %}

{% block title %}Forecast Weather Data{% endblock %}
{% block head %}{% endblock %}

{% block content %}

<h1>Forecast Models</h1>

{% include 'partials/messages.html' %}




<div class="card shadow mb-4" id="upload">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Create or End Models</h6>
  </div>
  <div class="card-body">
    <form action="/forecast" method="post" id="runModel"></form>
    <div>
      <a onclick="document.forms['runModel'].submit(); return false;" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-600">
          <i class="fas fa-arrow-right"></i>
        </span>
        <span class="text">Generate new model</span>
      </a>
      <span>
        <p>
          Generate a new model from <b class="text-primary">{{
            start_date.strftime('%b %d, %Y %H:%M') }}</b> to <b class="text-primary">
            {{ end_date.strftime('%b %d, %Y %H:%M') }}</b>
        </p>
      </span>
    </div>
    <form action="" method="post" id="cancelAllModels"></form>
    <div>

    </div>
    <div>
      <a onclick="document.forms['cancelAllModels'].submit(); return false;" class="btn btn-danger btn-icon-split">
        <span class="icon text-white-600">
          <i class="fas fa-arrow-right"></i>
        </span>
        <span class="text">Cancel running models</span>
      </a>
    </div>
    <p>
      Terminate running processes.
    </p>
  </div>
</div>

{% for model in models %}
<div class="card shadow mb-4" id="upload-forecast">
  <div class="card-header py-3">

    <h6 class="m-0 font-weight-bold text-primary"><a href="/forecast-models/{{ model.slug }}">MODEL: {{
        model.creation_date.timestamp() }}</a> {% include
      'partials/status.html' %}</h6>
    <div><b>Created:</b> {{ model.creation_date.strftime('%Y-%m-%d %H:%M:%S') }} </div>
    <div><b>Forecast:</b> <b class="text-primary">{{ model.start_date.strftime('%b %d, %Y %H:%M') }}</b> to <b
        class="text-primary">{{ model.end_date.strftime('%b %d, %Y %H:%M') }}</b></div>
  </div>
</div>


{% endfor %}

{% endblock %}