{% extends 'base-and-nav.html' %}

{% block title %}Forecast Weather Data{% endblock %}
{% block head %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/load-line-chart.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/load-data.js') }}"></script>
{% endblock %}

{% block content %}

<h1>Forecast Models</h1>


{% for model in models %}
<div class="card shadow mb-4" id="upload-forecast">
  <div class="card-header py-3">
    <a href="/forecast-models/{{ model.creation_date }}">
      <h6 class="m-0 font-weight-bold text-primary">MODEL: {{ model.creation_date.timestamp() }}</h6>
    </a>
    <div> <b>Status:</b> {{ model.status }}</div>
    <div> <b>Created:</b> {{ model.creation_date.strftime('%Y-%m-%d %H:%M:%S') }} </div>
    <div><b>Forecast:</b> <b class="text-primary">{{ model.start_date.strftime('%b %d, %Y %H:%M') }}</b> to <b
        class="text-primary">{{ model.end_date.strftime('%b %d, %Y %H:%M') }}</b></div>
  </div>
</div>


{% endfor %}

{% endblock %}