{% extends 'base-and-nav.html' %}

{% block title %}Historical Weather Data{% endblock %}
{% block head %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
{% endblock %}

{% block content %}

{% for message in messages %}
<div class="alert alert-{{ message.level }}">
  {{ message.text }}
</div>
{% endfor %}

<h1>Historical Weather Data</h1>
<ul>
  <li><a href="#upload-historical">Upload Historical Data</a></li>
  <li><a href="#chart">Chart</a></li>
  <li><a href="#table">Table</a></li>
</ul>

<div class="card shadow mb-4" id="upload-historical">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Upload Historical Data</h6>
  </div>
  <div class="card-body">
    <p>
      <a href="/instructions#historical-data" class="btn btn-secondary btn-sm">Read data upload instructions</a>
      <a href="https://gist.github.com/kmcelwee/e56308a8096356fcdc699ca168904aa4" class="btn btn-secondary btn-sm">View
        an example dataset</a>
    </p>

    <div class="input-group mb-3">
      <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>
    </div>

  </div>
</div>

{% if chart %}
<div class="card shadow mb-4" id="charts">
  <!-- Card Header - Accordion -->
  <a href="#collapse-chart" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true"
    aria-controls="collapse-chart">
    <h6 class="m-0 font-weight-bold text-primary">Charts</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" id="collapse-chart">
    <div class="card-body">
      <div id="historical-chart-container" style="height: 400px; min-width: 310px"></div>
      <script type="text/javascript">
        create_timeseries_chart(id = 'historical-chart-container', data = {{ chart | tojson }}, title = 'Historical Temperature Data', series_name = 'Temperature (°C)')
      </script>
    </div>
  </div>
</div>
{% else %}

{# Show message when no data exists #}

<div class="card shadow mb-4" id="upload">
  <div class="card-body text-center ">
    After data is uploaded, data will display here.
  </div>
</div>

{% endif %}

{% if table %}
<div class="card shadow mb-4" id="tables">
  <!-- Card Header - Accordion -->
  <a href="#collapse-table" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true"
    aria-controls="collapse-table">
    <h6 class="m-0 font-weight-bold text-primary">Tables</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" id="collapse-table">
    <div class="card-body">
      <h3>Historical Data</h3>
      <p id="table-warning">This table has been hidden since it is very large and may slow down your webpage. If you're
        looking to further inspect your data, it may be more convenient to click on the menu in the chart above and
        click on the "Download CSV" prompt.
      </p>
      <p>
        <button id="table-button" class="btn-secondary btn-sm" onclick="toggle_table_visibility()">Show Table</button>
      </p>
      {% include 'table.html' %}
    </div>
  </div>
</div>
{% endif %}

{% endblock %}