{% extends 'base-and-nav.html' %}

{% block title %}Load Data{% endblock %}
{% block head %}


<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/load-line-chart.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/load-data.js') }}"></script>
{% endblock %}

{% block content %}

<h1>Load Data</h1>
<ul>
  <li><a href="#upload">Upload Data</a></li>
  <li><a href="#charts">Charts</a></li>
  <li><a href="#tables">Tables</a></li>
</ul>

<div class="card shadow mb-4" id="upload">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Upload Data</h6>
  </div>
  <div class="card-body">
    <p>
      <a href="/instructions#load-data" class="btn btn-secondary btn-sm">Read data upload instructions</a>
      <a href="https://gist.github.com/kmcelwee/ce163d8c9d2871ab4c652382431c7801" class="btn btn-secondary btn-sm">View an example dataset</a>
    </p>
    <p>
      
    </p>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Upload</span>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01">
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>
  </div>
</div>

<div class="card shadow mb-4" id="charts">
  <!-- Card Header - Accordion -->
  <a href="#collapse-chart" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true"
    aria-controls="collapse-chart">
    <h6 class="m-0 font-weight-bold text-primary">Charts</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" id="collapse-chart">
    <div class="card-body">
        <div id="chart-container" style="height: 400px; min-width: 310px"></div>
        <script type="text/javascript">
          create_timeseries_chart(id='chart-container', data={{ chart | tojson }}, title='Historical Load Data', series_name='Load')
        </script>
    </div>
  </div>
</div>

<div class="card shadow mb-4" id="tables">
  <!-- Card Header - Accordion -->
  <a href="#collapse-table" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true"
    aria-controls="collapse-table">
    <h6 class="m-0 font-weight-bold text-primary">Tables</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" id="collapse-table">
    <div class="card-body">
      <p id="table-warning">This table has been hidden since it is very large and may slow down your webpage. If you're looking to further inspect your data, it may be more convenient to click on the menu in the chart above and click on the "Download CSV" prompt.
      </p>

      <p>
      <button id="table-button" class="btn-secondary btn-sm" onclick="toggle_table_visibility()">Show Table</button>
      </p>

      {% include 'table.html' %}
    </div>
  </div>
</div>

{% endblock %}