<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="forecast">
    <div class="sidebar-brand-text mx-3">Load Forecaster</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'latest-forecast' ) }}">
      <i class="fas fa-fw fa-binoculars"></i>
      <span>Forecast</span>
    </a>
    <a class="nav-link" href="{{ url_for( 'forecast-model-list' ) }}">
      <i class="fas fa-fw fa-list"></i>
      <span>All Models</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Upload & Review Data
  </div>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'historical-load-data' ) }}">
      <i class="fas fa-fw fa-bolt"></i>
      <span>Load Data</span></a>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cloud"></i>
      <span>Weather Data</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <!-- <h6 class="collapse-header">Custom Components:</h6> -->
        <a class="collapse-item" href="{{ url_for( 'historical-weather-data' ) }}">Historical</a>
        <a class="collapse-item" href="{{ url_for( 'forecast-weather-data' ) }}">Forecast</a>
      </div>
    </div>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider">

  <li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'model-settings' ) }}">
      <i class="fas fa-fw fa-cogs"></i>
      <span>Model Settings</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for( 'instructions' ) }}">
      <i class="fas fa-fw fa-book"></i>
      <span>Instructions</span></a>
  </li>

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>