<div class="table-responsive {% if hide_table %}d-none{% endif %}" id="large-table">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        {% for key, value in table[0].items() %}
        <th>{{ key }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in table %}
      <tr>
        {% for key, value in row.items() %}
        <td>{{value}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>