[Unit]
Description=coopforecast
After=syslog.target network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/coopforecast
ExecStart=/usr/bin/authbind --deep /usr/bin/python3 cli.py deploy --config=prod
Restart=on-failure

[Install]
WantedBy=multi-user.target